fieldset {
  width: 100%;

  border: 1px solid rgb(71, 83, 87);

  border-radius: var(--round-border);
}

legend {
  color: var(--white-muted);
}

textarea {
  width: 100%;
  height: 100px;
  font: inherit;
  color: inherit;

  border-style: none;
  border-color: transparent;
  overflow: auto;
  outline: none;
  resize: none;

  background-color: transparent;
  padding: 0 0.6rem;
}

textarea::-webkit-scrollbar,
textarea::-webkit-scrollbar-track,
textarea::-webkit-scrollbar-thumb {
  background: transparent;
}

textarea::-webkit-scrollbar-thumb:hover {
  background: var(--dark-blue-muted);
  border-radius: 50px;
}

.cardForm-container {
  width: 100%;

  display: block;
  position: fixed;
  z-index: 1000;
  inset: 0;

  background-color: rgba(90, 90, 90, 0.2);
  backdrop-filter: blur(3px);
}

.cardForm-form {
  width: clamp(300px, 80%, 600px);
  height: max-content;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;

  background-color: rgb(28, 33, 35);
  border-radius: var(--round-border);

  margin: 10vh auto 10vh auto;
  padding: 2rem 1rem;
  overflow-y: scroll;
}

.cardForm-form::-webkit-scrollbar,
.cardForm-form::-webkit-scrollbar-track,
.cardForm-form::-webkit-scrollbar-thumb {
  background: transparent;
}

.cardForm-form::-webkit-scrollbar-thumb:hover {
  background: var(--dark-blue-muted);
  border-radius: 50px;
}

.cardForm__submit {
  width: 100%;
  height: 2.8rem;

  margin: 0.4rem 0;
}

.cardForm__submit button {
  width: 100%;
  height: 100%;

  color: var(--white-main);
  font-size: 1.2rem;

  border-radius: var(--round-border);
  background-color: rgb(2, 107, 107);
  border: none;
  outline: none;

  cursor: pointer;
}

.completed {
  margin: 35vh auto;
}

.task-completed {
  font-size: 2.8rem;
  padding: 1rem;
}

.cardForm-close {
  width: 28px;
  height: 28px;
}

.cardForm-close svg {
  width: 100%;
  height: 100%;

  color: var(--dark-blue-light);

  cursor: pointer;
}

.cardForm-close svg:active {
  scale: 0.9;
  color: rgb(152, 179, 179);
}

@media screen and (max-width: 450px) {
  .cardForm-form {
    width: 93%;
    max-height: 90vh;
    margin: 8vh auto;
  }

  .cardForm__submit button {
    height: 2.8rem;
  }
}
